$breakpoint-mobile: 600px;

$color-background: #272944;
$color-border: #555555;
$color-button: #884ea0;
$color-button-hover: #6a1b9a;
$color-canvas-bg: #111111;
$color-next-bg: #222222;
$color-stroke: #333333;
$color-text: #ffffff;